<ion-content relative fill>
    <div *ngIf="movie" max-width full-height>
        <div class="backdrop-container">
            <ion-menu-button class="menu-button" color="light" autoHide="false"></ion-menu-button>
            <div class="vignette-top"></div>
            <div class="backdrop">
                <img class="backdrop-image" [imageSwapper]="movie.backdropUrls" />
                <div class="play-button-container">
                    <div class="play-button" routerLink="/movies/{{movie.id}}/play">
                        <ion-icon class="play-icon" name="play"></ion-icon>
                        <div class="play-button-backdrop"></div>
                    </div>
                </div>
            </div>
            <div class="vignette-bottom"></div>
        </div>
        <h1 class="title">{{movie.title}}</h1>
        <div class="various-info" text-center>
            <span inline-block v-center>
                {{movie.releaseYear?movie.releaseYear: 'Release date unknown'}}
            </span>
            &bull;
            <span>
                {{movie.rating ? movie.rating : 'Rating unknown'}}
            </span>
            &bull;
            <span>
                {{movie.runtimeSeconds ? Math.ceil(movie.runtimeSeconds/60) + ' minutes' : 'Runtime unknown'}}
            </span>
        </div>

        <!--play button-->
        <div text-center>
            <!-- <ng-container *ngIf="isInProgress">
                <ion-button color="medium" routerLink="/movies/{{movie.id}}/play" [queryParams]="{resumeSeconds: 0}">
                    <ion-icon name="refresh"></ion-icon>&nbsp;Start Over
                </ion-button>
            </ng-container> -->
            <ng-container *ngIf="isInProgress === false">
                <ion-button color="success">
                    <ion-icon name="play"></ion-icon>&nbsp;Watch Now
                </ion-button>
            </ng-container>
        </div>
        <div padding>
            <p>{{movie.summary? movie.summary: 'No summary available'}}</p>
            <ion-button routerLink="/movies/{{movie.id}}/metadata">Manage Metadata</ion-button>
            <ion-button [mediaItemProcessClick]="movie">Process Movie</ion-button>
            <a target="_blank" *ngIf="movie.tmdbId" href="https://www.themoviedb.org/movie/{{movie.tmdbId}}">
                <ion-button>View on TMDB</ion-button>
            </a>
        </div>
    </div>
</ion-content>