.title {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 3em;
    // text-shadow: 3px 3px #313131;
}

.menu-button {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 10;
}

.various-info {
    margin-bottom: 10px;

    span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.backdrop {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;
    background-color: var(--ion-background-color);
    height: 35%;
    overflow: hidden;
    color: #f13939;
}

.play-button-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.play-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid white;
    padding: 15px;
    font-size: 3em;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 14px 25px -2px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 10000000000;
    transition: box-shadow 100ms ease-in-out;
    outline: none;

    &:active {
        box-shadow: 10px 14px 17px -2px rgba(0, 0, 0, 0.4);
    }

    &:hover {
        .play-button-backdrop {
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

.play-icon {
    z-index: 1;
    position: relative;
    left: 3px;
}

.play-button-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    transition: background-color 150ms ease-in-out;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0;
}



//hide the bottom vignette above certain screen size
@media(min-width: 800px) {
    .vignette-bottom {
        display: none;
    }
}

//hide the top vignette above certain screen size
@media(min-width: 880px) {
    .vignette-top {
        display: none;
    }
}



.backdrop-image {
    z-index: 1;
}

.backdrop-container {
    position: relative;
    width: 100%;
}

.vignette-top,
.vignette-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 4;
}

.vignette-top {
    background: linear-gradient(to bottom, var(--ion-background-color), 60%, transparent);
    height: 50px;
    top: 0px;
}

.vignette-bottom {
    height: 25px;
    background: linear-gradient(to top, var(--ion-background-color), 80%, transparent);
    bottom: 3px;
}