.title {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 3em;
    // text-shadow: 3px 3px #313131;
}

.menu-button {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 10;
}

.various-info {
    margin-bottom: 10px;

    span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.backdrop {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;
    background-color: var(--ion-background-color);
    height: 35%;
    overflow: hidden;
    color: #f13939;
}

//hide the bottom vignette above certain screen size
@media(min-width: 800px) {
    .vignette-bottom {
        display: none;
    }
}

//hide the top vignette above certain screen size
@media(min-width: 880px) {
    .vignette-top {
        display: none;
    }
}



.backdrop-image {
    z-index: 1;
}

.backdrop-container {
    position: relative;
    width: 100%;
}

.vignette-top,
.vignette-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 4;
}

.vignette-top {
    background: linear-gradient(to bottom, var(--ion-background-color), 60%, transparent);
    height: 50px;
    top: 0px;
}

.vignette-bottom {
    height: 30px;
    background: linear-gradient(to top, var(--ion-background-color), 80%, transparent);
    bottom: 0px;
}