<video *ngIf="url" id="{{videoPlayerId}}" class="video-js vjs-default-skin vjs-big-play-centered" preload="auto">
    <source [src]="url" type="video/mp4" />
</video>
<div id="video-buttons-container-{{videoPlayerId}}" class="video-buttons-container" [ngClass]="{hide: !isUserActive}"
     (click)="toggleControlVisibility()">
    <div class="back-container">
        <ion-button color="light" fill="clear" (click)="back()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
    </div>
    <div class="backdrop"></div>
    <div class="video-buttons">
        <div class="center-buttons flex-x flex-y" (click)="$event.stopPropagation()">
            <span relative>
                <span class="jump-seconds-left">{{appSettings.jumpBackwardSeconds}}</span>
                <ion-icon name="refresh" flip-x (click)="jumpBackward()"></ion-icon>
            </span>
            <span relative>
                <ion-icon name="play" (click)="play()" [hidden]="!isPaused"></ion-icon>
                <ion-icon name="pause" (click)="pause()" [hidden]="isPaused"></ion-icon>
            </span>
            <span relative>
                <span class="jump-seconds-right">{{appSettings.jumpBackwardSeconds}}</span>
                <ion-icon name="refresh" (click)="jumpForward()"></ion-icon>
            </span>
        </div>
        <div class="bottom-controls" (click)="$event.stopPropagation()">
            <div class="left">
                <seek-bar [totalSeconds]="totalSeconds"
                          [value]="_seconds"
                          (change)="seekChange($event)"
                          (dragstart)="seekDragStart()"
                          (dragstop)="seekDragStop()"></seek-bar>
            </div>
            <div class="right">
                <button class="fullscreen-button" (click)="toggleFullScreen()">
                    <ion-icon name="expand"></ion-icon>
                </button>
            </div>
        </div>
    </div>
</div>